:root {
  --white: #ffffff;
  --maincolor: #e40046;
  --pricolor: #ff395c;
  --black: #000000;
  --overlay: #a11b44a6;
  --overlayhead: #e5e5e5;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Russo+One&display=swap");
/* font-family: 'Black Ops One', cursive;
font-family: 'Russo One', sans-serif; */

/* Main stuff */
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: url(../img/Background\ with\ People-03.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  position: relative;
  height: 100vh;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
  /* font-family: 'Russo One', sans-serif;  */
}
a {
  text-decoration: none;
}
.fontblack {
  font-family: "Black Ops One", cursive;
}
.fontrusso {
  font-family: "Russo One", sans-serif;
}

main {
  padding: 0px 3% 2%;
  height: 100vh;
  position: relative;
}
.topheader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
      display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 2%;
}
.topheader h2 {
  font-size: 2vw;
  text-shadow: 2px -3px 9px #f99746;
  -webkit-text-stroke: 1px white;
  color: #f997468f;
  font-family: "Black Ops One", cursive;
  font-weight: 300;
  margin-bottom: 8px;
}
.goldbadge {
  position: absolute;
  top: 3%;
}
.silverbadge {
  position: absolute;
  top: 3%;
  right: 2%;
}
.goldbadge img {
  width: 5vw;
}
.silverbadge img {
  width: 5vw;
  display: block;
}
.rounds {
  display: flex;
  align-items: end;
  max-width: 70%;
  left: 50%;
  position: absolute;
  top: 0px;
  transform: translateX(-50%);
}
.rounddleft {
  margin-right: -4vw;
  position: relative;
}
.rounddleft img {
  width: 100%;
}
.rounddcenter img {
  width: 100%;
}
.rounddcenter {
  position: relative;
}
.rounddright {
  margin-left: -4vw;
  position: relative;
}
.rounddright img {
  width: 100%;
}

.centercards {
  max-width: 55%;
  margin: auto;
      position: fixed;
      top: 22vh;
    left: 50%;
    transform: translateX(-50%);
}
.ccradsflex {
  display: flex;
  position: relative;
  justify-content: center;
}
.ccradsflex div {
  background-image: url(../img/border1.2.svg);
  padding: 10px 0px;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 2%;
}
.ccradsflex img {
  width: 100%;
  position: relative;
  left: -3%;
  top: -2%;
}
.roundtxt {
  position: absolute;
  top: 0px;
 left: 3.5vw;
    padding: 0.6vw 0;
}
.twoleftround {
  left: 2.5vw !important;
}
.roundtxt small {
  font-family: "Russo One", sans-serif;
  color: #000000;

  font-size: 0.9vw;
  display: block;
  margin-bottom: 0.2vw;
}
.roundtxt p {
  font-family: "Russo One", sans-serif;
  color: #000000;
  font-size: 1vw;
  margin-bottom: 0px;
  margin-top: 0px;
}
.roundtxt p a {
  font-family: "Russo One", sans-serif;
  color: #105fbe;
}
.roundtxt2 {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 32%;
}
.roundtxt2 small {
  font-size: 0.9vw;
  font-family: "Russo One", sans-serif;
  padding-top: 19%;
  display: block;
}
.roundtxt2 h3 {
  font-size: 2vw;
  font-family: "Black Ops One", cursive;
  color: #105fbe;
  margin: 0.2vw auto 0.6vw;
}
.roundtxt2 span {
  color: #5f6c76;
  font-family: "Russo One", sans-serif;
  font-size: 0.6vw;
}

.roundsmid{
  position: absolute;
    top: 0vw;
    left: 25.5vw;
}
.roundsfull{
  position: relative;
  margin: auto;
}
.roundsfull img{
  width: 100%;
  max-width: 55vw;
  position: relative;
}
.roundsful1{
    position: absolute;
    top: 5vw;
    left: 4vw;
}
.roundsful2{
    position: absolute;
    top: 5vw;
    right: 3.5vw;
}
.roundtxtp small {
  font-family: "Russo One", sans-serif;
  color: #000000;

  font-size: 1vw;
  display: block;
  margin-bottom: 0.2vw;
}
.roundtxtp p {
  font-family: "Russo One", sans-serif;
  color: #000000;
  font-size: 1.2vw;
  margin-bottom: 0px;
  margin-top: 0px;
}
.roundtxtp p a {
  font-family: "Russo One", sans-serif;
  color: #105fbe;
}
.roundsmid small {
  font-size: 1vw;
  font-family: "Russo One", sans-serif;
  padding-top: 19%;
  display: block;
   text-align: center;
}
.roundsmid h3 {
  font-size: 2.2vw;
  font-family: "Black Ops One", cursive;
  color: #105fbe;
  margin: 0.2vw auto 0.6vw;
  text-align: center;
}
.roundsmid p {
  color: #5f6c76;
  font-family: "Russo One", sans-serif;
  font-size: 0.8vw;
    text-align: center;
    margin-top: 0vw;
}




.bottomcards {
  position: fixed;
  bottom: 10%;
  left: 0;
  padding: 0 3%;
}
.bottomcardsflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrowback {
  margin-right: 2%;
}
.arrowback img {
  width: 3vw !important;
}
.arrowup {
  margin-left: 2%;
}
.arrowup img {
  width: 3vw !important;
}
.bottomcardsflex img {
  width: 100%;
}
.flexinnerbc {
  display: flex;
}
.flexinnerbc div {
  /* background-image: url(../img/border2.svg);
  padding: 8px;
    background-repeat: no-repeat;
    background-size: contain; */
  margin: 0 10px 0 0;
}
.flexinnerbc div:last-child {
  margin: 0px !important;
}
.flexinnerbc img {
}

.nextbtn {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
}
.nextbtn div {
}
.nextbtn a {
  background-image: linear-gradient(to right, #e7e7e7, #9aa7b1);
  border: 1px solid #e7e7e7;
  border-radius: 50%;
  padding: 1.4vw 1vw;
  color: #050017;
  font-family: "Russo One", sans-serif;
  font-size: 1.2vw;
}

@media (max-width: 768px) {
  .goldbadge {
    position: fixed;
    top: 1vw;
    left: 2%;
  }
  .goldbadge img {
    /* width: 50%; */
  }
  .silverbadge {
    position: fixed;
    top: 1vw;
    right: 2%;
    text-align: end;
  }
  .silverbadge img {
    /* width: 50%;  */
  }
  .topheader h2 {
    /* font-size: 12px; */
    font-weight: 100;
  }
  .rounds {
    max-width: 100%;
    width: 100%;
  }
  .centercards {
    max-width: 80%;
    margin: auto;
    top: 31vh;
  }
  .bottomcards {
    bottom: 12%;
  }
  .flexinnerbc div {
    /* padding: 3px; */
    margin: 0 2px 0 0;
  }

  .rounddleft {
    margin-right: -7vw;
}
.rounddright {
    margin-left: -7vw;
}
.twoleftround {
    left: 5vw !important;
}
  .roundtxt {
    left: 15%;
    padding: 3% 0%;
  }
  .roundtxt small {
    font-size: 1.5vw;
  }
  .roundtxt p {
    font-size: 1.8vw;
  }
  .roundtxt2 {
    left: 31%;
  }
  .roundtxt2 small {
    font-size: 2vw;
    padding-top: 21%;
  }
  .roundtxt2 h3 {
    font-size: 4vw;
    font-family: "Black Ops One", cursive;
    color: #105fbe;
    margin: 0vw auto 0.8vw;
  }
  .roundtxt2 span {
    color: #5f6c76;
    font-family: "Russo One", sans-serif;
    font-size: 1.2vw;
  }
}
@media (max-width: 600px) {
  .rounds {
    max-width: 100%;
    width: 100%;
  }
  .centercards {
    max-width: 100%;
    width: 70%;
    margin: auto;
    top: 28vh;
    padding: 2% 1% 2% 2%;
  }
  .nextbtn {
    bottom: 5vw;
  }
  .nextbtn a {
      font-size: 2.5vw;
    padding: 2.2vw 1vw;
  }

}
